.padre
{
background-color: deepskyblue;
padding: 5px;
display: grid;
grid-template-columns: 50% 20% auto auto;
grid-template-rows: 150px 100px auto;
justify-content: center;
 

}
.hijo{
background-color: lightgreen;

margin: 3px;

border-style: solid;
border-color: indigo;
font-size: 40px;
grid-row: 4/5;


}
.hijo1{
    background-color: lightgreen;
    
    margin: 1px;
    
    border-style: solid;
    border-color: indigo;
    font-size: 40px;
    grid-column: 1/5;
    
 }
  .hijo2
  {
        background-color: yellow;
        
        margin: 3px;
        border-style: solid;
        border-color: indigo;
        font-size: 40px;
        grid-column: 1/1;    
     }
.hijo3
{
            background-color: yellow;
            
            margin: 2px;
            border-style: solid;
            border-color: indigo;
            font-size: 60px;
            grid-column: 2/2;
            
            
  }
.hijo4
{
            background-color: yellow;
            
            margin: 3px;
            border-style: solid;
            border-color: indigo;
            font-size: 40px;
            grid-column: 3/5;
            
            
  }
  .hijo5
{
            background-color: yellow;
            
            margin: 3px;
            
            border-style: solid;
            border-color: indigo;
            font-size: 40px;
            grid-row: 3/4;
            grid-column: 1/2;/* manejo de filas*/
            
            
  }
  .hijo6
  {
              background-color: yellow;
              
              margin: 3px;
              border-style: solid;
              border-color: indigo;
              font-size: 40px;
              grid-row: 3/4;
              grid-column: 2/5;/* manejo de filas*/
              
              
    }
.hijo7
{
                background-color: yellow;
                
                margin: 3px;
               
                border-style: solid;
                border-color: indigo;
                font-size: 40px;
                grid-row: 4/5;                               
}
.principal
{
    background-color: coral;
    border: 2px solid #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.caja
{

    background-color:rgba(248, 19, 19, 0.76);
    justify-content: center;
    margin-left: 15px;
    width: 300px;
    height: 350px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
.centro
    {
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



.cenCaja{
    background-color:rgb(21, 230, 56);
   display: flex;
    margin-left: 15px;
    width: 250px;
  height: 100px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.dereCaja{
 
    
    background-color:rgb(255, 208, 0);
    
    margin-left: 5px;
    display: flexbox;
    width: 180px;
    height: 90px;
    margin-right: 5px;
    margin-top: 5px;
   
   

}
.izCaja{
 
    background-color:rgb(255, 208, 0);
    margin-left: 5px;
    display: flexbox;
    width: 180px;
    height: 90px;
    margin-right: 5px;
    margin-top: 5px;

}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    
    }